@page
@model IndexModel
<style>
    #customers {
        /*font-family: Arial, Helvetica, sans-serif;*/
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: right;
            background-color: #04AA6D;
            color: white;
        }
</style>
@{
}
<div class="container">
    <table id="customers">
        <tr>
            <th>نام </th>
            <th>گروه </th>
            <th>مدرس</th>
            <th>قیمت</th>
            <th>ویرایش</th>
        </tr>
        @foreach (var course in Model.CourseList)
        {
            <tr>
                <td>@course.Name</td>
                <td>
                    @if (course.CourseCategories != null)
                    {
                        foreach (var courseCategory in course.CourseCategories)
                        {
                            <span>@courseCategory.Category?.Name  </span>
                        }
                    }
                    else
                    {
                        <span>---</span>
                    }
                </td>
                <td>@course.Teacher.Name</td>
                <td>@course.Price</td>
                <td>
                    <a asp-page="/Admin/Course/Update" asp-route-id="@course.Id">ویرایش</a>
                    <a asp-page="/Admin/Course/Delete" asp-route-id="@course.Id">حذف</a>
                </td>
            </tr>
        }
    </table>

</div>