@model SaeedLearn.Application.DTOs.Course.CourseDto
<div class="solid-inner-banner">
	<h2 class="page-title">@Model.Name</h2>
	<ul class="page-breadcrumbs">
		<li><a href="/">خانه</a></li>
		<li><i class="fa fa-angle-left" aria-hidden="true"></i></li>
		<li>@Model.Name</li>
	</ul>
</div> <!-- /.solid-inner-banner -->

<div class="shop-details pt-150 pb-200">
	<div class="container">
		<div class="procuct-details">
			<div class="row">
				<div class="col-md-6 col-xs-12">
					<div class="tab-content">
						<div id="menu0" class="tab-pane fade show active"><img src="~/images/@Model.ImgPath" alt=""></div>
						
					</div>
                </div>
				<div class="col-md-6 col-xs-12">
					<div class="product-info">
						<h3 class="product-name">@Model.Name</h3>
						<ul class="rating">
							<li><i class="fa fa-star" aria-hidden="true"></i></li>
							<li><i class="fa fa-star" aria-hidden="true"></i></li>
							<li><i class="fa fa-star" aria-hidden="true"></i></li>
							<li><i class="fa fa-star" aria-hidden="true"></i></li>
							<li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
							<li>4.5</li>
							<li>32 نظر</li>
						</ul>
						<strong class="price">@Model.Price</strong>
						<ul class="availability">
							<li>@Model.TeacherName</li>
							<li>@Model.DateCreated</li>
							<li><span>20</span> Days Left</li>
						</ul> <!-- /.availability -->
						<p>@Model.Description</p>
						
						<div>
							<a href="#" class="cart-button">اضافه به سبد خرید</a>
							<a href="#" class="wishlist-button"><i class="fa fa-heart" aria-hidden="true"></i>اضافه به علاقه مندی ها</a>
						</div>
					</div> <!-- /.product-info -->
				</div> <!-- /.col- -->
			</div> <!-- /.row -->
		</div> <!-- /.procuct-details -->
		<div class="product-review-tab">
			<ul class="nav nav-tabs">
				<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#menu11">توضیحات دوره</a></li>
				<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#menu12">پیش نیاز های دوره</a></li>
				<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#menu21">نظرات دوره</a></li>
			</ul>
			<div class="tab-content">
				<div id="menu11" class="tab-pane fade show active">
					<p>@Model.Description</p>
					@*<h6 class="list-title">Check product main features:</h6>
					<ul class="list-item">
						<li>Lorem ipsum best lightweight bras cool rejection quickly avoid dummy text.</li>
						<li>Lightweight bras cool rejection quickly avoid dummy text.</li>
						<li>We quickly learn to fear and thus automatically avoid potentially</li>
					</ul>*@
				</div>
				<div id="menu12" class="tab-pane fade">
					<h4 class="tab-title">Check product main features:</h4>
					<ul class="list-item">
						<li>Lorem ipsum best lightweight bras cool rejection quickly avoid dummy text.</li>
						<li>Lightweight bras cool rejection quickly avoid dummy text.</li>
						<li>We quickly learn to fear and thus automatically avoid potentially</li>
						<li>Lorem ipsum best lightweight bras cool rejection quickly avoid dummy text.</li>
						<li>Lightweight bras cool rejection quickly avoid dummy text.</li>
						<li>We quickly learn to fear and thus automatically avoid potentially</li>
					</ul>
				</div>
				<div id="menu21" class="tab-pane fade">
					<div class="user-comment-area">
						<div class="single-comment d-sm-flex align-items-top">
							<img src="~/images/blog/1.jpg" alt="" class="user-img">
							<div class="user-comment-data">
								<h6 class="name">Rashed ka.</h6>
								<ul class="rating">
									<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
								</ul>
								<p>One touch of a red-hot stove is usually all we need to avoid that kind of discomfort in future. The same true we experience the emotional sensation.</p>
							</div> <!-- /.user-comment-data -->
						</div> <!-- /.single-comment -->
						<div class="single-comment d-sm-flex align-items-top">
							<img src="~/images/blog/2.jpg" alt="" class="user-img">
							<div class="user-comment-data">
								<h6 class="name">Zubayer hasan</h6>
								<ul class="rating">
									<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
								</ul>
								<p>One touch of a red-hot stove is usually all we need to avoid that kind of discomfort in future. The same true we experience the emotional sensation.</p>
							</div> <!-- /.user-comment-data -->
						</div> <!-- /.single-comment -->
					</div> <!-- /.user-comment -->
				</div>
			</div>
		</div> <!-- /.product-review-tab -->

		<div class="realated-product product-showcase">
			<h2 class="title">دوره های مشابه</h2>
			<div class="related-product-slider">
				<div class="item">
                    @*<partial name="_Card"/>*@
				</div>
				<div class="item">
					<div class="single-product-case">
						<div class="img-holder"><a href="#"><img src="~/images/shop/2.jpg" alt=""></a></div>
						<div class="info">
							<a href="#" class="name">New Jacket Men.</a>
							<div class="price">$139.00</div>
							<a href="cart.html" class="cart-button" title="Add to cart">
								<span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
							</a>
						</div>
					</div> <!-- /.single-product-case -->
				</div>
				<div class="item">
					<div class="single-product-case">
						<div class="img-holder"><a href="#"><img src="~/images/shop/3.jpg" alt=""></a></div>
						<div class="info">
							<a href="#" class="name">New Jacket Men.</a>
							<div class="price">$139.00</div>
							<a href="cart.html" class="cart-button" title="Add to cart">
								<span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
							</a>
						</div>
					</div> <!-- /.single-product-case -->
				</div>
				<div class="item">
					<div class="single-product-case">
						<div class="img-holder"><a href="#"><img src="~/images/shop/22.jpg" alt=""></a></div>
						<div class="info">
							<a href="#" class="name">New Jacket Men.</a>
							<div class="price">$139.00</div>
							<a href="cart.html" class="cart-button" title="Add to cart">
								<span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
							</a>
						</div>
					</div> <!-- /.single-product-case -->
				</div>
				<div class="item">
					<div class="single-product-case">
						<div class="img-holder"><a href="#"><img src="~/images/shop/18.jpg" alt=""></a></div>
						<div class="info">
							<a href="#" class="name">New Jacket Men.</a>
							<div class="price">$139.00</div>
							<a href="cart.html" class="cart-button" title="Add to cart">
								<span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
							</a>
						</div>
					</div> <!-- /.single-product-case -->
				</div>
			</div> <!-- /.related-product-slider -->
		</div> <!-- /.realated-product -->
	</div> <!-- /.container -->
</div> <!-- /.shop-page -->
